## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(columns=['EIN'])
application_df.head(5)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
name_count = application_df.NAME.value_counts()

for name in name_count[name_count<100].index:
  application_df.NAME = application_df.NAME.replace(name, 'Other')

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                        31
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_count=application_df.APPLICATION_TYPE.value_counts()
app_count

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
app_count[app_count<200].index

Index(['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object', name='APPLICATION_TYPE')

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=app_count[app_count<200].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_count=application_df.CLASSIFICATION.value_counts()
class_count

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count[class_count>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_count[class_count<300].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numerical=pd.get_dummies(application_df,dtype=int)
application_numerical

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = application_numerical.IS_SUCCESSFUL
X = application_numerical.drop('IS_SUCCESSFUL',axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 =  30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                6080

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 8541 (33.36 KB)
Trainable params: 8541 (33.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5115 - accuracy: 0.7424
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4952 - accuracy: 0.7554
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4921 - accuracy: 0.7562
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4900 - accuracy: 0.7582
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4894 - accuracy: 0.7576
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4876 - accuracy: 0.7582
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4868 - accuracy: 0.7591
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4859 - accuracy: 0.7586
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4846 - accuracy: 0.7605
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4844 - accuracy: 0.7596
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4835 - accuracy: 0.7608
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4830 - accuracy: 0.7605
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4826 - accuracy: 0.7622
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4820 - accuracy: 0.7623
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4812 - accuracy: 0.7618
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4810 - accuracy: 0.7610
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4808 - accuracy: 0.7622
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4803 - accuracy: 0.7634
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4802 - accuracy: 0.7623
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4799 - accuracy: 0.7623
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4798 - accuracy: 0.7626
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4795 - accuracy: 0.7629
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4789 - accuracy: 0.7628
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4792 - accuracy: 0.7626
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4782 - accuracy: 0.7647
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4785 - accuracy: 0.7635
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4782 - accuracy: 0.7636
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4776 - accuracy: 0.7631
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4774 - accuracy: 0.7629
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4770 - accuracy: 0.7627
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4770 - accuracy: 0.7649
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4770 - accuracy: 0.7640
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4765 - accuracy: 0.7650
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4767 - accuracy: 0.7637
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4765 - accuracy: 0.7638
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4763 - accuracy: 0.7649
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.4762 - accuracy: 0.7642
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4761 - accuracy: 0.7646
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.4760 - accuracy: 0.7638
Epoch 40/50
804/804 [==============================] - 5s 7ms/step - loss: 0.4759 - accuracy: 0.7643
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4755 - accuracy: 0.7652
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4757 - accuracy: 0.7646
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4752 - accuracy: 0.7640
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4748 - accuracy: 0.7645
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4753 - accuracy: 0.7660
Epoch 46/50
804/804 [==============================] - 3s 3ms/step - loss: 0.4745 - accuracy: 0.7659
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4745 - accuracy: 0.7657
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4746 - accuracy: 0.7645
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4739 - accuracy: 0.7660
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4743 - accuracy: 0.7650

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4972 - accuracy: 0.7577 - 645ms/epoch - 2ms/step
Loss: 0.4971556067466736, Accuracy: 0.7576676607131958